@using System.Security.Claims;
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.HelpDesk.Models

<div>
    <SfComboBox TValue="string" TItem="SyncfusionHelpDeskStatus"
                PopupHeight="230px" Placeholder="Ticket Status"
                FloatLabelType="@FloatLabelType.Always"
                @bind-Value="@SelectedTicket.TicketStatus" DataSource="@SyncfusionHelpDeskStatus.Statuses">
        <ComboBoxEvents TValue="string" TItem="SyncfusionHelpDeskStatus"></ComboBoxEvents>
        <ComboBoxFieldSettings Text="Text" Value="ID"></ComboBoxFieldSettings>
    </SfComboBox>
</div>
<div>
    <SfDatePicker ID="TicketDate" Enabled="isAdmin"
                  Placeholder="Ticket Date"
                  FloatLabelType="@FloatLabelType.Always"
                  @bind-Value="@SelectedTicket.TicketDate"
                  Max="DateTime.Now"
                  ShowClearButton="false">
    </SfDatePicker>
</div>
<div>
    <SfTextBox Enabled="isAdmin" Placeholder="Ticket Description"
               FloatLabelType="@FloatLabelType.Always"
               @bind-Value="@SelectedTicket.TicketDescription">
    </SfTextBox>
</div>
@if (SelectedTicket.SyncfusionHelpDeskTicketDetails != null)
{
    @if (SelectedTicket.SyncfusionHelpDeskTicketDetails.Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var TicketDetail in
            SelectedTicket.SyncfusionHelpDeskTicketDetails)
                {
                    <tr>
                        <td>
                            @TicketDetail.TicketDetailDate.ToShortDateString()
                        </td>
                        <td>
                            @TicketDetail.TicketDescription
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <SfTextBox Placeholder="NewHelp Desk Ticket Detail"
               @bind-Value="@NewHelpDeskTicketDetailText">
    </SfTextBox>
    <SfButton CssClass="e-small e-success"
              @onclick="AddHelpDeskTicketDetail">
        Add
    </SfButton>
}
<br />
@code {
    [Parameter]
    public SyncfusionHelpDeskTickets SelectedTicket { get; set; }

    [Parameter]
    public bool isAdmin { get; set; }

    string NewHelpDeskTicketDetailText = "";

    private void AddHelpDeskTicketDetail()
    {
        // Create New HelpDeskTicketDetails record
        SyncfusionHelpDeskTicketDetails NewHelpDeskTicketDetail =
        new SyncfusionHelpDeskTicketDetails();

        NewHelpDeskTicketDetail.HelpDeskTicketId =
        SelectedTicket.HelpDeskTicketId;

        NewHelpDeskTicketDetail.TicketDetailDate =
        DateTime.Now;

        NewHelpDeskTicketDetail.TicketDescription =
        NewHelpDeskTicketDetailText;

        // Add to collection
        SelectedTicket.SyncfusionHelpDeskTicketDetails
            .Add(NewHelpDeskTicketDetail);

        // Clear the Text Box
        NewHelpDeskTicketDetailText = "";
    }
}